<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Web store</title>
        <link rel="icon" href="static/images/web.png" type="image/x-icon">
        <link rel="stylesheet" href="static/css/home.css">
    </head>
    <body>
        <h4>Добро пожаловать в наш магазин ^_^</h4>
        <div class="button-container footer_back_image">
          <button id="button1" class="paging-button btn" onclick="previousPage();"><a class="p-2 btn btn-outline-primary" href="/contact">Наши контакты</a></button>
          <button id=".button2" class="paging-button btn" onclick="nextPage();"><a class="p-2 btn btn-outline-primary" href="/latest">Новые товары</a></button>
        </div>




    </body>
</html>