{% extends 'base.html' %}
{% load my_tags %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Каталог</title>
    <link rel="icon" href="{% static 'images/catalog.jpg' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped" <caption><h2>Наши товары</h2></caption>
                         {% for product in products_list %}
                        <tr>
                            <td class="w-25"><strong>Имя продукта</strong></td>
                            <td>{{ product.name }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Описание</strong></td>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Категория</strong></td>
                            <td>{{ product.category }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Цена за покупку</strong></td>
                            <td>{{ product.price }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Дата создания</strong></td>
                            <td>{{ product.created_at }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Дата последнего изменения</strong></td>
                            <td>{{ product.updated_at }}</td>
                        </tr>
                        <tr>
                            <td class="w-25"><strong>Изображение</strong></td>
                            <td><img class="card-img-top" width="100" src="{{ product.photo | mymedia }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>