{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Каталог</title>
    <link rel="icon" href="{% static 'images/catalog.jpg' %}" type="image/x-icon">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top"
             src="{{ product.photo | mymedia }}"
             alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><strong>{{ product.name }}</strong> из категории <strong>{{ product.category }}</strong></p>
          <hr>
          Цена: <em>{{ product.price }} $</em>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


</body>
</html>