{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block icon %}
<title>Web store</title>
<link rel="icon" href="{% static 'images/web.png' %}" type="image/x-icon">

{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">BakMilStore</h1>
    <p class="lead">Добро пожаловать в наш магазин ^_^</p>
</div>
<div class="col-12 mb-5">
  <a href="{% url 'catalog:create_product' %}" class="btn btn-outline-primary">Добавить продукт</a>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
        {% for product in products_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"><strong>{{ product.name }}</strong></p>
                  <p class="card-text">{{ product.description | truncatechars:20 }}</p>
                    <p class="card-text">Цена: {{ product.price }} $</p>
                    {% if product.version_set.all %}
                        {% for prod in product.version_set.all %}
                            <p class="card-text">Версия: {{ prod.version_name }}({{ prod.version_number }})</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">Версия: Не указана</p>
                    {% endif %}
                  <img class="card-img-top" height="300" src="{{ product.photo | mymedia }}">
                    <br>
                  <br><div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'catalog:products' product.pk %}" type="button" class="btn btn-sm btn-outline-secondary">К товару</a>
                        {% if perms.catalog.change_category and perms.catalog.change_description and perms.catalog.set_published and product.owner == self.request.user or user.is_superuser%}
                            <a class="btn btn-sm btn-outline-secondary" type="button" href="{% url 'catalog:update_product' product.pk %}">Редактировать</a>
                        {% endif %}
                      <a class="btn btn-sm btn-outline-secondary" type="button" href="{% url 'catalog:delete_product' product.pk %}">Удалить</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
